#banner
  .banner_content
    %h1 File Cabinet
    %p  Your life's work. Organized, always
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Raw denim forage swag, chia single-origin coffee brunch affogato small batch kogi ugh. Swag kickstarter beard, affogato next level helvetica seitan biodiesel sriracha flexitarian selfies try-hard. Brooklyn health goth four dollar toast kogi seitan portland, master cleanse semiotics cronut pop-up meh. Sartorial YOLO authentic tumblr.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path